---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article class="mb-6 transition intersect-once intersect-quarter">
  <div class="relative mb-6 rounded-sm shadow-lg md:h-64 bg-muted dark:bg-muted">
    {
      image &&
        (link ? (
          <a href={link}>
            <Image
              src={image}
              class="w-full rounded-sm shadow-lg md:h-full bg-muted dark:bg-muted"
              widths={[400, 900]}
              width={400}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              layout="cover"
              loading="lazy"
              decoding="async"
            />
          </a>
        ) : (
          <Image
            src={image}
            class="w-full rounded-sm shadow-lg md:h-full bg-muted dark:bg-muted"
            widths={[400, 900]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="16:9"
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        ))
    }
  </div>

  <h3 class="mb-2 text-xl font-bold leading-tight sm:text-2xl font-heading dark:text-foreground">
    {
      link ? (
        <a class="inline-block transition duration-200 ease-in hover:text-primary dark:hover:text-blue-700" href={link}>
          {post.title}
        </a>
      ) : (
        post.title
      )
    }
  </h3>

  <p class="text-lg text-muted-foreground dark:text-muted-foreground">{post.excerpt}</p>
</article>
