---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article class="intersect-once intersect-quarter mb-6 transition">
  <div class="bg-muted dark:bg-muted relative mb-6 rounded-sm shadow-lg md:h-64">
    {
      image &&
        (link ? (
          <a href={link}>
            <Image
              src={image}
              class="bg-muted dark:bg-muted w-full rounded-sm shadow-lg md:h-full"
              widths={[400, 900]}
              width={400}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              layout="cover"
              loading="lazy"
              decoding="async"
            />
          </a>
        ) : (
          <Image
            src={image}
            class="bg-muted w-full rounded-sm shadow-lg md:h-full"
            widths={[400, 900]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="16:9"
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        ))
    }
  </div>

  <h3 class="font-heading dark:text-foreground mb-2 text-xl leading-tight font-bold sm:text-2xl">
    {
      link ? (
        <a class="hover:text-accent inline-block transition duration-200 ease-in" href={link}>
          {post.title}
        </a>
      ) : (
        post.title
      )
    }
  </h3>

  <p class="text-foreground/70 text-lg">{post.excerpt}</p>
</article>
