---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
}

const { text, url, class: className = 'inline-block' } = Astro.props;

const shareLinks = [
  {
    provider: 'twitter',
    title: 'Twitter Share',
    icon: 'tabler:brand-x',
  },
  {
    provider: 'facebook',
    title: 'Facebook Share',
    icon: 'tabler:brand-facebook',
  },
  {
    provider: 'linkedin',
    title: 'Linkedin Share',
    icon: 'tabler:brand-linkedin',
  },
  {
    provider: 'whatsapp',
    title: 'Whatsapp Share',
    icon: 'tabler:brand-whatsapp',
  },
  {
    provider: 'mail',
    title: 'Email Share',
    icon: 'tabler:mail',
  },
];
---

<div class={className}>
  <span class="font-bold align-super text-primary">Share:</span>
  {
    shareLinks.map((link) => (
      <Button
        variant="tertiary"
        class="ml-2 rtl:ml-0 rtl:mr-2"
        title={link.title}
        data-aw-social-share={link.provider}
        data-aw-url={url}
        data-aw-text={text}
      >
        <Icon name={link.icon} class="w-6 h-6" />
      </Button>
    ))
  }
</div>
